<launch>
    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">

        <param name ="resolution" value="0.05" />
        <param name = "frame_id" type="str" value="robot_foot_init" />
        <param name = "latch" value="true" />
        <param name = "pointcloud_max_z" value="10" />
        <param name = "pointcloud_min_z" value="-10" />

        <param name="occupied_thresh" value="0.65" />
        <param name="free_thresh" value="0.196" />
        <param name="sensor_model/max_range" value="600.0" />
        <param name="sensor_model/hit" value="0.8" />
        <param name="sensor_model/miss" value="0.4" />
        <param name="sensor_model/min" value="0.12" />
        <param name="sensor_model/max" value="0.97" />
        <remap from ="cloud_in" to="/cloud_registered" />

    </node>
</launch>
